@import url('https://fonts.googleapis.com/css2?family=Rubik+Maps&display=swap');
* {
  font-family: Rubik Maps;
}

body {
  display: flex;
  justify-content: center;

  align-content: center;
  animation: bg-change 10s infinite; /* Apply the animation */
}

span {
  /* font-family: monospace; */
  font-size: 2em;
  animation: color-change 1s infinite;
}

@keyframes color-change {
  0% {
    color: hotpink;
  }
  25% {
    color: greenyellow;
  }
  50% {
    color: cyan;
  }
  75% {
    color: greenyellow;
  }
  100% {
    color: hotpink;
  }
}
@keyframes bg-change {
  0%,
  100% {
    background-color: hotpink;
  }
  25%,
  75% {
    background-color: greenyellow;
  }
  50% {
    background-color: cyan;
  }
}

#submit-field {
  display: flex;
  flex-direction: column;
}

#main-wrapper {
  display: grid;
  grid-template-rows: 100px 100px 100px;
  gap: 200px;
  padding: 20px;
  background-color: black;
  border-radius: 40px;
  height: 90vh;
  width: 90vw;
}

#top-row {
  grid-row: 1;
  display: flex;
  justify-content: center;
}
#mid-row {
  grid-row: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#bot-row {
  grid-row: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#submit-btn {
  margin-top: 100px;
  font-family: monospace;
  width: 200px;
  align-self: center;
}

#results {
  animation: color-change 1s infinite;
  text-align: center;
}

h2 {
  font-family: monospace;
}

#url-field {
  text-align: center;
  font-family: monospace;
  width: 800px;
  height: 50px;
}
